
body{
    background-color: oklch(54.6% 0.245 262.881);
    color:#d1d1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

main{
    max-width: 800px;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto 0 auto; */
    margin: 0 auto;
}

.cabecalho {
    background-color: oklch(37.9% 0.146 265.522);
}

.menu {
    background-color: oklch(28.2% 0.091 267.935);
    display: flex;
    list-style: none;
    gap: 14px;
}